@font-face {
    font-family: "Parfumerie Script Curly";
    src: url("../../../public/fonts/parfumerie-script-curly.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lancelot";
    src: url("../../../public/fonts/Lancelot-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.bg {
    background-color: #ECD752;
    min-width: 100%;
    min-height: 150%;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.title {
    font-family: "Parfumerie Script Curly", cursive;
    font-size: 80px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input {
    font-family: "Lancelot", serif;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 72%;
    border-radius: 0;
}

.btn {
    font-family: "Parfumerie Script Curly", cursive;
    font-size: clamp(20px, 10vw, 40px);
    margin: 112px 0;
    width: 32vw;
    height: 6vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #7B9356;
    color: white;
}