body {
    background-color: white;
}

#mail-title {
    line-height: 75%;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closed {
    max-width: 88%;
    height: auto;
    transform: translateY(-6vh);
}

.open-text {
    font-family: "Lancelot", serif;
    font-size: 20px;
    transform: translateY(-7vh);
}