body {
    background-color: white;
}

#mail-title {
    line-height: 75%;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -1vh;
}

.closed {
    max-width: 88%;
    height: auto;
}