.envelope {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateY(21vh);
}

.stack {
    position: relative;
    width: 77vw;
    height: 300px;
}

.envelope-open,
.envelope-front {
    transform: translateX(4px);
}

.envelope-open,
.envelope-front,
.window {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.window {
    position: absolute;
    left: 0;
    top: 90px;
    transform: translateY(-110px);
    height: 45vh;
    overflow: hidden;
}

.invite {
    position: absolute;
    left: 50%;
    transition: top 1.2s ease;
    width: 80%;
    transform: translate(-50%, 40px);
    animation: none;
}
.stack.open .invite {
    animation: rise 1.7s ease forwards;
}

@keyframes rise {
    0% {
        transform: translate(-50%, 200px)
    }
    100% {
        transform: translate(-50%, 0px);
    }

}